body {
  font-family: sans-serif;
  padding: 20px;
  font-size: 16px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

input {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#result {
	display: inline-block;     /* 同じ行に並べる */
  margin: 0 0 0 12px;        /* 左余白を付ける */
  font-weight: bold;
  font-size: 20px;
  color: blue;
  vertical-align: middle;    /* ボタンとの縦位置を揃える */
}

select {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}
